
h1 {
    font-size: 50px;
    color: blueviolet;
}

h2 {
    color: brown;
}

.principal{
    color: darkgreen;
}

#destaque {
    font-size: 40px;
}

/* Selectores de ID têm maior especificidade que classes, elementos ou seletores de tipo,
   portanto as regras dentro dele sobrescrevem outras menos específicas. */
#palavra {
    color: lightcoral;
}
